<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <pipelines>
      <initialize >
        <processor type="ComponentsReviewer.Pipelines.Initialize.InitializeRotes, ComponentsReviewer" patch:before="processor[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.InitializeProfiling, Sitecore.Mvc']"/>
      </initialize>
      <convertToDesignTimeHtml>
        <processor type="ComponentsReviewer.Pipelines.PrepareHtml.UpdateRenderingHtml, ComponentsReviewer" patch:after="processor[@type='Sitecore.Pipelines.ConvertToDesignTimeHtml.ConvertWebControls, Sitecore.Kernel']"/>
      </convertToDesignTimeHtml>
      <convertToRuntimeHtml>
        <processor type="ComponentsReviewer.Pipelines.PrepareHtml.UpdateRuntimeHtml, ComponentsReviewer" patch:after="processor[@type='Sitecore.Pipelines.ConvertToRuntimeHtml.ShortenLinks, Sitecore.Kernel']"/>
      </convertToRuntimeHtml>
      <!--<mvc.renderRendering >
        <processor type="ComponentsReviewer.Pipelines.RenderRendering.AddCustomScript, ComponentsReviewer" patch:before="processor[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.ExecuteRenderer, Sitecore.Mvc']"/>
      </mvc.renderRendering>-->
      <insertRenderings>
        <processor type="ComponentsReviewer.Pipelines.InstertRenderings.InjectScript, ComponentsReviewer" patch:after="processor[@type='Sitecore.Pipelines.InsertRenderings.Processors.AddRenderings, Sitecore.Kernel']"/>
      </insertRenderings>

      <httpRequestBegin>
        <processor type="ComponentsReviewer.Pipelines.HttpRequestBegin.CheckRequestBegin,ComponentsReviewer" patch:after="processor[@type='Sitecore.Pipelines.PreprocessRequest.CheckIgnoreFlag, Sitecore.Kernel']"/>
 
      </httpRequestBegin>
 
    </pipelines>

    <settings>
      <setting name="ComponentsReviewer.Databases" value="master" /> 
      <setting name="ComponentsReviewer.RootItemsIds" value="{F2DB8258-D7A7-486D-AF9E-3460423DBE2D}" /> 
    </settings>
  </sitecore>
</configuration>