<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <pipelines>
      <initialize >
        <processor type="ComponentsReviewer.Pipelines.Initialize.InitializeRotes, ComponentsReviewer" patch:before="processor[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.InitializeProfiling, Sitecore.Mvc']"/>
      </initialize>
      <convertToDesignTimeHtml>
        <processor type="ComponentsReviewer.Pipelines.PrepareHtml.UpdateRenderingHtml, ComponentsReviewer" patch:after="processor[@type='Sitecore.Pipelines.ConvertToDesignTimeHtml.ConvertWebControls, Sitecore.Kernel']"/>
      </convertToDesignTimeHtml>
      <convertToRuntimeHtml>
        <processor type="ComponentsReviewer.Pipelines.PrepareHtml.UpdateRuntimeHtml, ComponentsReviewer" patch:after="processor[@type='Sitecore.Pipelines.ConvertToRuntimeHtml.ShortenLinks, Sitecore.Kernel']"/>
      </convertToRuntimeHtml>
      <!--<mvc.renderRendering >
        <processor type="ComponentsReviewer.Pipelines.RenderRendering.AddCustomScript, ComponentsReviewer" patch:before="processor[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.ExecuteRenderer, Sitecore.Mvc']"/>
      </mvc.renderRendering>-->
      <insertRenderings>
        <processor type="ComponentsReviewer.Pipelines.InstertRenderings.InjectScript, ComponentsReviewer" patch:after="processor[@type='Sitecore.Pipelines.InsertRenderings.Processors.AddRenderings, Sitecore.Kernel']"/>
      </insertRenderings>

      <httpRequestBegin>
        <processor type="ComponentsReviewer.Pipelines.HttpRequestBegin.CheckRequestBegin,ComponentsReviewer" patch:after="processor[@type='Sitecore.Pipelines.PreprocessRequest.CheckIgnoreFlag, Sitecore.Kernel']"/>
 
      </httpRequestBegin>
 
    </pipelines>

    <settings>
      <setting name="ComponentsReviewer.Databases" value="master" /> 
      <setting name="ComponentsReviewer.RootItemsIds" value="{B35996E0-8304-45C0-9B9E-5A04E06A086F},{F99DC233-E326-407E-A3A9-36956B5F5CA2},{D3B27424-6F2C-4D78-B2A4-ACB8EA8FCF22},{F3B19605-6F6D-4EDD-8D78-938D632FC042},{0DA91FE2-FA46-4FF7-B983-0832B6B5A806},{7C3EBDE2-FE67-4B69-A819-057B3C681410},{F286584F-EB76-46D2-B446-1A3D5BEE2975},{9BE4723D-F938-4228-A3A9-A28D7557BC33},{B3D5C5EC-A616-45A5-B354-A9624F0D1C34}" /> 
    </settings>
  </sitecore>
</configuration>